<template>
  <article class="busket-page">
    <h1>Корзина</h1>
    <p v-if="busketIsEmpty">Корзина пуста</p>
    <v-simple-table v-else>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              Название программы
            </th>
            <th class="text-left">
              Стоимость
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="program in busket"
            :key="program.id"
          >
            <td>{{ program.name }}</td>
            <td>{{ program.price }} &#8381;</td>
            <td>
              <v-btn
                icon
                @click="onProgramDeleteClick(program.id)"
                title="Удалить из корзины"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="busket-page__tfoot-cell">Общая стоимость:</td>
            <td class="busket-page__tfoot-cell">{{ totalPrice }} &#8381;</td>
            <td></td>
          </tr>
        </tfoot>
      </template>
    </v-simple-table>
    <div class="program-page__buttons">
      <v-btn
        class="program-card__button"
        depressed
        small
        color="primary"
        @click="onShopClick"
      >
        В магазин
      </v-btn>
      <v-btn
        class="program-card__button"
        depressed
        small
        :disabled="busketIsEmpty"
        @click="onClearClick"
      >
        Очистить корзину
      </v-btn>
    </div>
  </article>
</template>

<script>
import { mapState } from 'vuex'
import {
  CLEAR_BUSKET,
  REMOVE_FROM_BUSKET,
} from '@/store/mutation-types'
import { ROUTE_NAME_MAIN } from '@/routes'

export default {
  computed: {
    ...mapState({
      /** @type {Object<string,Program>} */
      busket: state => state.busket,
    }),

    programIds () {
      return Object.keys(this.busket)
    },

    totalPrice () {
      return this.programIds.reduce(
        (sum, key) => sum + this.busket[key].price,
        0
      )
    },

    busketIsEmpty () {
      return !this.programIds.length
    }
  },

  methods: {
    onShopClick () {
      this.$router.push({ name: ROUTE_NAME_MAIN })
    },

    onClearClick () {
      this.$store.commit(CLEAR_BUSKET)
    },

    onProgramDeleteClick (programId) {
      this.$store.commit(REMOVE_FROM_BUSKET, programId)
    },
  },
}
</script>

<style lang="scss">
.busket-page {
  margin: 0 auto;
  max-width: 600px;

  &__tfoot-cell {
    font-weight: bold;
    font-size: 1.2em !important;
  }
}
</style>
