<template>
  <div class="mainpage">
    <aside class="mainpage__sidebar">
      <busket-widget />
      <search-form />
      <div class="mainpage__program-categories">
        <program-categories />
      </div>
    </aside>
    <article class="mainpage__content">
      <program-list />
    </article>
  </div>
</template>

<script>
import BusketWidget from '@/components/busket/BusketWidget'
import ProgramCategories from '@/components/programs/ProgramCategories'
import ProgramList from '@/components/programs/ProgramList'
import SearchForm from '@/components/forms/SearchForm'

export default {
  components: {
    BusketWidget,
    ProgramCategories,
    ProgramList,
    SearchForm,
  },
}
</script>

<style lang="scss">
.mainpage {
  display: flex;
  width: 100%;

  &__sidebar {
    max-width: 200px;
  }

  &__program-categories {
    margin: 1em 0;
  }

  &__content {
    width: 100%;
  }
}
</style>
