<template>
  <article class="program-page">
    <p v-if="error">{{ error.message }}</p>
    <template v-else-if="!loading">
      <img
        class="program-page__image"
        :src="program.imageUrl"
        :alt="program.name"
      >
      <h1 class="program-page__title">{{ program.name }}</h1>
      <p>{{ program.description }}</p>
      <div class="program-page__buttons">
        <add-to-busket-button :program="program" />
        <v-btn
            class="program-card__button"
            depressed
            small
            @click="onShopClick"
        >
          В магазин
        </v-btn>
      </div>
    </template>
  </article>
</template>

<script>
import { ROUTE_NAME_MAIN } from '@/routes'
import apiService from '@/services/api/apiService'
import AddToBusketButton from '@/components/forms/AddToBusketButton'

export default {
  components: {
    AddToBusketButton,
  },

  data: () => ({
    /** @type {Program} */
    program: null,

    /** @type {Error} */
    error: null,

    /** @type {boolean} */
    loading: true,
  }),

  async created () {
    try {
      this.program = await apiService.getProgramById(this.$route.params.id)
    } catch (e) {
      this.error = e
    }
    this.loading = false
  },

  methods: {
    onShopClick () {
      this.$router.push({ name: ROUTE_NAME_MAIN })
    },
  },
}
</script>

<style lang="scss">
.program-page {
  margin: 0 auto;
  max-width: 600px;

  &__image {
    margin-bottom: 2em;
    width: 200px;
    text-align: center;
  }

  &__title {
    margin-bottom: 1em;
    font-size: 2em;
  }

  &__buttons {
    margin-top: 2em;
  }
}
</style>
