<template>
  <div
    class="busket-widget"
    @click="onClick"
  >
    {{ text }}
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { ROUTE_NAME_BUSKET } from '@/routes'
import plural from 'plural-ru'

export default {
  computed: {
    ...mapState([
      /** @type {Object<string,Program>} */
      'busket',
    ]),

    programCount () {
      return Object.keys(this.busket).length
    },

    totalCost () {
      return Object.keys(this.busket).reduce((sum, id) => sum + this.busket[id].price, 0)
    },

    text () {
      let count = this.programCount

      return count
        ? `${count} ${plural(count, 'программа', 'программы', 'программ')} \u2014 ${this.totalCost} \u20BD`
        : 'Корзина пуста'
    },
  },

  methods: {
    onClick () {
      this.$router.push({ name: ROUTE_NAME_BUSKET })
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/css/variables.scss';

.busket-widget {
  border: 1px solid $block-border-color;
  border-bottom: 0;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  background-color: #1976d2;
  cursor: pointer;
}
</style>
