<template>
  <v-app class="app">
    <div
      v-if="loading"
      class="app__loader"
    >
      <v-progress-circular
        :size="50"
        color="primary"
        indeterminate
      />
    </div>
    <v-alert
      v-else-if="loadingError"
      type="error"
    >
      {{ loadingError.message }}
    </v-alert>
    <v-main v-else>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import { INIT_STORE } from '@/store/action-types'

export default {
  name: 'App',

  data: () => ({
    loading: true,

    /** @type {Error|null} */
    loadingError: null,
  }),

  async created () {
    try {
      await this.$store.dispatch(INIT_STORE)
    } catch (e) {
      this.loadingError = e
    }
    this.loading = false
  },
}
</script>

<style lang="scss">
.app {
  padding: 2em;
  font-size: 14px;
  line-height: 1.4;
  background-color: #fff;
  color: #000;

  &__loader {
    position: absolute;
    top: 40%;
    left: calc(50% - 25px);
  }
}
</style>
