<template>
  <v-btn
    depressed
    small
    :color="buttonColor"
    @click="onClick"
  >
    {{ buttonText }}
  </v-btn>
</template>

<script>
import Program from '@/models/Program'
import { ADD_TO_BUSKET, REMOVE_FROM_BUSKET } from '@/store/mutation-types'

export default {
  props: {
    program: {
      type: Program,
      required: true,
    }
  },

  computed: {
    inBusket () {
      return !!this.$store.state.busket[this.program.id]
    },

    buttonText () {
      return this.inBusket ? 'В корзине' : 'В корзину'
    },

    buttonColor () {
      return this.inBusket ? '' : 'primary'
    },
  },

  methods: {
    onClick() {
      if (this.inBusket) {
        this.$store.commit(REMOVE_FROM_BUSKET, this.program.id)
      } else {
        this.$store.commit(ADD_TO_BUSKET, this.program)
      }
    },
  },
}
</script>
