<template>
  <form
    class="search-form"
    @submit.prevent="onSubmit"
  >
    <fieldset class="search-form__content">
      <legend class="search-form__title">Программы НМО</legend>
      <v-text-field
          v-model="value"
          class="search-form__input"
          dense
          full-width
          hide-details="auto"
          outlined
          append-icon="mdi-magnify"
          @click:append="onSubmit"
      ></v-text-field>
    </fieldset>
  </form>
</template>

<script>
import { SET_SEARCH } from "@/store/mutation-types";

export default {
  data: () => ({
    value: ''
  }),

  mounted () {
    this.value = this.$store.state.search
  },

  methods: {
    onSubmit () {
      this.$store.commit(SET_SEARCH, this.value)
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/css/variables.scss';

.search-form {
  border: 1px solid $block-border-color;
  padding: $block-padding;
  background-color: $block-bg-color;

  &__content {
    border: 0;
    padding: 0;
  }

  &__title {
    margin-bottom: 0.25em;
  }

  &__input {
    .v-input__slot {
      background-color: #fff !important;
    }
  }
}
</style>
