<template>
  <v-list class="program-categories" dense>
    <v-subheader class="program-categories__title">Категории</v-subheader>
    <v-list-item-group
      :value="selectedCategory"
      class="program-categories__list"
      color="primary"
      @change="onCategoryChange"
    >
      <v-list-item :value="null">
        <v-list-item-content>Все категории</v-list-item-content>
      </v-list-item>
      <v-list-item
        v-for="category in categories"
        :key="category.id"
        :value="category"
      >
        <v-list-item-content>
          {{ category.name }}
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script>
import { mapState } from 'vuex'
import { SET_SELECTED_PROGRAM_CATEGORY } from '@/store/mutation-types'

export default {
  computed: mapState({
    /** @type {Function<ProgramCategory[]>} */
    categories: state => state.programCategories,

    /** @type {Function<ProgramCategory|null>} */
    selectedCategory: state => state.selectedProgramCategory
  }),

  methods: {
    onCategoryChange (category) {
      this.$store.commit(SET_SELECTED_PROGRAM_CATEGORY, category)
    },
  }
}
</script>

<style lang="scss">
@import '@/assets/css/variables.scss';

.program-categories {
  border: 1px solid $block-border-color !important;
  padding: $block-padding !important;
  background-color: $block-bg-color !important;

  &__title {
    padding: 0 !important;
    height: 30px !important;
    font-size: 1em !important;
  }

  &__list {
    border: 1px solid $block-border-color;
    background-color: #fff !important;
  }
}
</style>
