<template>
  <div class="program-list">
    <div
      v-if="loading"
      class="program-list__loader"
    >
      <v-progress-circular
        :size="50"
        color="primary"
        indeterminate
      />
    </div>
    <ul
      v-else-if="programs.length"
      class="program-list__list"
    >
      <li
        v-for="program in programs"
        :key="program.id"
        class="program-list__item"
      >
        <program-card
          class="program-list__card"
          :program="program"
        />
      </li>
    </ul>
    <p v-else class="program-list__message">Нет программ</p>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ProgramCard from '@/components/programs/ProgramCard'
import apiService from '@/services/api/apiService'

export default {
  components: {
    ProgramCard,
  },

  data: () => ({
    /** @type {Program[]} */
    programs: [],

    loading: true,
  }),

  computed: mapState({
    category: state => state.selectedProgramCategory,
    search: state => state.search,
  }),

  watch: {
    category (newCategory) {
      this.loadPrograms(newCategory, this.search)
    },

    search (newSearch) {
      this.loadPrograms(this.category, newSearch)
    },
  },

  async mounted () {
    await this.loadPrograms(this.category, this.search)
    this.loading = false
  },

  methods: {
    async loadPrograms (category, search) {
      this.programs = (await apiService.getPrograms(category?.id, search)).items
    },
  },
}
</script>

<style lang="scss">
.program-list {
  &__loader {
    position: absolute;
    top: 40%;
    left: calc(50% - 25px);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0 !important;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin: 0 1em 2em;
    width: 300px;
  }

  &__card {
    height: 100%;
  }

  &__message {
    margin: 2em;
    padding: 0;
  }
}
</style>
