<template>
  <section class="program-card">
    <div class="program-card__image" :style="imageStyle"></div>
    <div class="program-card__content">
      <div class="program-card__title">
        <router-link
          class="program-card__name"
          :to="programPageRoute"
        >
          {{ program.name }}
        </router-link>
        <span class="program-card__price">{{ program.price }}&nbsp;&#8381;</span>
      </div>
      <p class="program-card__description">{{ program.description }}</p>
      <div class="program-card__buttons">
        <add-to-busket-button
          class="program-card__button"
          :program="program"
        />
        <v-btn
          class="program-card__button"
          depressed
          small
          @click="onMoreClick"
        >
          Подробнее
        </v-btn>
      </div>
    </div>
  </section>
</template>

<script>
import { ROUTE_NAME_PROGRAM } from '@/routes'
import AddToBusketButton from '@/components/forms/AddToBusketButton'
import Program from '@/models/Program'

export default {
  components: {
    AddToBusketButton,
  },

  props: {
    program: {
      type: Program,
      required: true,
    },
  },

  computed: {
    inBusket () {
      return !!this.$store.state.busket[this.program.id]
    },

    imageStyle () {
      return this.program.imageUrl ? { backgroundImage: `url("${this.program.imageUrl}")` } : {}
    },

    addToBusketButtonText () {
      return this.inBusket ? 'В корзине' : 'В корзину'
    },

    addToBusketButtonColor () {
      return this.inBusket ? '' : 'primary'
    },

    programPageRoute () {
      return {
        name: ROUTE_NAME_PROGRAM,
        params: { id: this.program.id },
      }
    },
  },

  methods: {
    onMoreClick () {
      this.$router.push(this.programPageRoute)
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/css/variables.scss';

.program-card {
  display: flex;
  flex-direction: column;
  border: solid 1px $block-border-color;
  border-radius: 3px;
  margin: 0;
  padding: 0;

  &__image {
    flex: 0 0 150px;
    border: 3px solid #fff;
    background-size: contain;
    background-position: center center;
    background-color: #87cefa;
  }

  &__content {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $block-border-color;
    padding: 1em 1em 1.5em;
    height: 100%;
  }

  &__title {
    display: flex;
    margin-bottom: 1em;
    line-height: 1.4;
  }

  &__name {
    margin-right: 2em;
    flex: 1 1 auto;
    text-decoration: none;
  }

  &__description {
    flex: 1 1 auto;
    font-size: 0.9em;
  }

  &__buttons {
    text-align: center;
  }

  &__button {
    margin: 0.5em 0.1em;
  }
}
</style>
